extends layout

block content
  h1= title
  p Welcome to, #{title}
  button(type="button", class="btn btn-primary btn-lg" onclick="update()") Press me
  div(id="target" class="container text-center m-2 p-3" style="color:red;font-weight:700; background-color:lightblue;") Display
  script. 
      var client_count=0 
      function update(){
        client_count++;
        document.getElementById("target").innerHTML=`Value now ${client_count}`
      } 